
div{
        
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    background: purple;
    border: 2px plum solid;
    border-radius: 100px;
    width: 50%;
    margin-left: 25%;
}

img{
    height: 50%;
    width: 50%;
}