
div{
    justify-content:space-around;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    cursor: pointer;
    height: 5vh;
    z-index: 1;
}

button, app-auth-button{
    cursor: pointer;
    width: 25%;
    height: 100%;
    border: 0px;
}

button:hover{
    background-color: purple;
    color: white;
}

