<div *ngIf="user === undefined">
    <!-- <p>Create Profile</p>

    <p>UserName</p>
    <input type="text" />

    <p>Enter a profile picture</p>
    <input type="file" />

    <p>Bio</p>
    <input type="text" /> -->

    <form [formGroup]="userCreation" (ngSubmit)="onSubmit()">
        <div>
            <label for="username" class="form-label">UserName: </label>
            <input class="form-control" id="username" type="text" formControlName="username" placeholder="username" />
            <div *ngIf="userCreation.get('username')?.invalid && userCreation.get('username')?.touched" class="error-message"></div>
        </div>

        <div>
            <label for="profilePicture" class="form-label"> Profile Picture: </label>
            <input class="form-control" id="profilePicture" type="file" formControlName="profilePicture"  accept="image/png" (change)="onFileSelect($event)"/>
        </div>

        <div>
            <label for="bio" class="form-label">Bio:</label>
            <input class="form-control" id="bio" type="text" formControlName="bio" />
            <div *ngIf="userCreation.get('bio')?.invalid && userCreation.get('bio')?.touched" class="error-message"></div>
        </div>

        <button type="submit" [disabled]="!userCreation.valid" >Submit</button>
    </form>


</div>

<div *ngIf="user !== undefined">
    <div>
        <img [src]="user.profilePicture" alt="user profile pic" height="420px" >
    </div>
    
    <div>
        <h2>{{user.username}}</h2>
    </div>
    
    <div>
        <p> {{user.bio}}</p>
    </div>
</div>

<button (click)="show()">update Profile</button>

<div *ngIf="showing">
    <form [formGroup]="updateUser" (ngSubmit)="onClick()">
        <div>
            <label for="username" class="form-label">UserName: </label>
            <input class="form-control" id="username" type="text" formControlName="username" placeholder="username" />
            <div *ngIf="userCreation.get('username')?.invalid && userCreation.get('username')?.touched" class="error-message"></div>
        </div>

        <div>
            <label for="profilePicture" class="form-label"> Profile Picture: </label>
            <input class="form-control" id="profilePicture" type="file" formControlName="profilePicture"  accept="image/png" (change)="onFileSelect($event)"/>
        </div>

        <div>
            <label for="bio" class="form-label">Bio:</label>
            <input class="form-control" id="bio" type="text" formControlName="bio" />
            <div *ngIf="userCreation.get('bio')?.invalid && userCreation.get('bio')?.touched" class="error-message"></div>
        </div>

        <button type="submit" >Submit</button>
    </form>
</div>

<div>
    <button (click)="deleteProfile()" [routerLink]="['/']">Delete Profile</button>
</div>