

#profile-pic{
    border: 5px purple solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    overflow: hidden;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}